<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Kinoscope | Streaming</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        html, body, div {
            /* Ajustar alto y ancho de la vista */
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- NavBar exclusiva para index.html -->
    <nav class="navbar navbar-dark bg-black" style="background-color: #000000;">
        <a class="navbar-brand" href="#">
            <img src="/static/images/logo.png" width="42" height="42" class="d-inline-block">
            Kinoscope
        </a>
        <a href="/login" class="btn btn-light">Iniciar Sesión</a>
    </nav>
    <!-- NavBar exclusiva para index.html -->
    
    <!-- Vista index -->
    <div class="view" style="background-image: url('/static/images/banner_index.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Contenido -->
        <div class="container">
            <!-- Fila -->
            <div class="row">
                <!-- columna -->
                <div class="col-md-6 text-white text-center text-md-left mt-xl-5 mb-5">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Entretenimiento<br>para todos</h1>
                    <hr class="hr-dark">
                    <h6 class="mb-4">Disfruta de la belleza del cine con Kinoscope,<br>
                        tu servicio de streaming de películas ideal.</h6>
                        <a href="/registro" class="btn btn-light">Regístrate</a>
                        <a href="/catalogo" class="btn btn-outline-light">Ver catálogo</a>
                    </div>
                    <!-- Columna -->
                </div>
                <!-- Fila -->
            </div>
            <!-- Contenido -->
        </div>
        <!-- Vista index -->
        
        <!-- Pié de página -->
        <footer class="footer" style="background-color: #000000;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-white text-center">
                        <h2 class="footer-heading"><a href="#" class="logo">Kinoscope</a></h2>
                        <p class="menu">
                            <a href="/">Inicio </a>
                            <a href="/catalogo"> Catálogo </a>
                            <a href="#"> Contacto</a>
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-white text-center">
                        <p class="copyright">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    </html>
