<html lang="es">
    <head>
    </head>
    <body>
        <form action="" enctype="multipart/form-data" method="post">
            <div>
                <label>Titulo</label>
                <input type="text" name="Titulo">
            </div>
            <div>
                <label>Año</label>
                <input type="text" name="Anio">
            </div>
            <div>
                <label>Director</label>
                <input type="text" name="Director">
            </div>
            <div>
                <label>Genero</label>
                <input type="text" name="Genero">
            </div>
            <div>
                <label>Duracion</label>
                <input type="text" name="Duracion">
            </div>
            <div>
                <label>Elenco</label>
                <input type="text" name="Elenco">
            </div>
            <div>
                <label>Clasificacion IMDB</label>
                <input type="text" name="CIMDB">
            </div>
            <div>
                <label>Pais</label>
                <input type="text" name="Pais">
            </div>
            <div>
                <label>Clasificacion por edad</label>
                <input type="text" name="Cedad">
            </div>
            <div>
                <label>Sinopsis</label>
                <input type="text" name="Sinopsis">
            </div>
            <div>
                <label>Poster</label>
                <input type="file" name="Poster">
            </div>
            <div>
                <label>Tipo de contenido</label>
                <input type="text" name="Tcontenido">
            </div>
            <div>
                <input type="submit" value="Guardar">
        </form>
    </body>
</html>