<html lang="es">
    <head>
    </head>
    <body>
        <div>
            <label>Titulo</label>
            <input type="text" name="Titulo">
        </div>
        <div>
            <label>Fecha</label>
            <input type="date" name="Fecha">
        </div>
        <div>
            <label>Director</label>
            <input type="text" name="Director">
        </div>
        <div>
            <label>Genero</label>
            <input type="text" name="Genero">
        </div>
        <div>
            <label>Elenco</label>
            <input type="text" name="Elenco">
        </div>
        <div>
            <label>Clasificacion IMDB</label>
            <input type="text" name="CIMDB">
        </div>
        <div>
            <label>Pais</label>
            <input type="text" name="Pais">
        </div>
        <div>
            <label>Clasificacion por edad</label>
            <input type="text" name="Cedad">
        </div>
        <div>
            <label>Sinopsis</label>
            <input type="text" name="Sinopsis">
        </div>
        <div>
            <label>Tipo de contenido</label>
            <input type="text" name="Tcontenido">
        </div>
    </body>
</html>